<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <style>
    .a{

    }
    .a .b{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .a .c{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .a .s{
      margin: 0 10px;
    }
  </style>
</head>
<body>
<div class="a">
  <div class="b">
    <div>关于我们</div>
    <span class="s">|</span>
    <div>关于我们</div>
    <span class="s">|</span>
    <div>关于我们</div>
    <span class="s">|</span>
    <div>关于我们</div>
  </div>
  <div class="c">
    <div>关于我们</div>
    <span class="s">|</span>
    <div>关于我们</div>
  </div>
</div>
</body>
</html>
